<div class="edit-vehicle-container">
    <h2>Editar Vehículo</h2>

    <form (ngSubmit)="guardarEdicion()">
        <label for="marca">Marca:</label>
        <input type="text" id="marca" [(ngModel)]="vehiculo.marca" name="marca" required />

        <label for="modelo">Modelo:</label>
        <input type="text" id="modelo" [(ngModel)]="vehiculo.modelo" name="modelo" required />

        <label for="year">Año:</label>
        <input type="number" id="year" [(ngModel)]="vehiculo.year" name="year" required />

        <label for="rpm">RPM:</label>
        <input type="number" id="rpm" [(ngModel)]="vehiculo.rpm" name="rpm" required />

        <label for="velocidad">Velocidad:</label>
        <input type="number" id="velocidad" [(ngModel)]="vehiculo.velocidad" name="velocidad" required />

        <button type="submit">Guardar Cambios</button>
    </form>

    <button (click)="volver()">Volver</button>
</div>